form{ padding: 10px; }
.circle1{
  display: inline-block; /* 영역적용가능해짐 */
  width: 20px; height: 20px;
  border: 2px solid #666;
  box-sizing: border-box;
  border-radius: 10px; /* 모서리둥글게 처리 */
  position: relative; top: 4px;
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */

  background-image: url(../assets/check_gray.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#chk1:checked + .circle1{
  background-color: black;
  border-color: black;
  background-image: url(../assets/check_white.png);
}


/* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk1{ position: absolute; left: -999em; }

form{ padding: 10px; }
.circle2{
  display: inline-block; /* 영역적용가능해짐 */
  width: 20px; height: 20px;
  border: 2px solid #666;
  box-sizing: border-box;
  border-radius: 10px; /* 모서리둥글게 처리 */
  position: relative; top: 4px;
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */

  background-image: url(../assets/check_gray.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#chk2:checked + .circle2{
  background-color: black;
  border-color: black;
  background-image: url(../assets/check_white.png);
}


/* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk2{ position: absolute; left: -999em; }